body{
    padding: 0;
    margin: 0;
    font-family: monospace;
    display: flex;
    flex-direction: column;
}

.top-box{
    /*background-color: navy;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
}

.top-left{
    max-width: 375px;
    text-align: left;
}

header{
    margin: 0;
    padding: 0;
    /*background-color: navy;*/
    display: flex;
    justify-content: space-around;
    /*align-content: center;*/
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

ul{
    display: flex;
    gap: 12px;
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.links{
    /*display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;*/
    gap: 12px;
}

header, .footer .links .top-box{
    background-color: #00f;
}

.top-img{
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 8px 16px;
    border: 1px solid #3882F6;
}

.box-two{
    padding-bottom: 50px;
}

.two-title{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding-bottom: 15px;
}

.holder{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.bread{
    height: 100px;
    width: auto;
    border: 3px solid none;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

.boxes{
    padding: 16px;
}

.box-three{
    background-color: gray;
}

.box-four{
    background-color: white;
    align-items: center;
    justify-content: center;
}

.ad-box{
    background-color: dodgerblue;
    display: flex;
    gap: 16px;
    padding: 16px;
    width: 480px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.footer{
    /*background-color: midnightblue;*/
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    text-align: center;
    padding: 2em;
}