body{
    padding: 0;
    margin: 0;
    font-family: monospace;
    display: flex;
    flex-direction: column;
}

.top-box{
    /*background-color: navy;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
}

header{
    margin: 0;
    padding: 0;
    /*background-color: navy;*/
    display: flex;
    justify-content: space-around;
    /*align-content: center;*/
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

ul{
    display: flex;
    gap: 12px;
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.links{
    /*display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;*/
    gap: 12px;
}

.header .footer .links .top-box{
    background-color: #000;
}

.box-two{
    background-color: white;
}

.holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxes{
    padding: 16px;
}

.box-three{
    background-color: gray;
}

.box-four{
    background-color: white;
    align-items: center;
    justify-content: center;
}

.ad-box{
    background-color: dodgerblue;
    display: flex;
    gap: 16px;
    padding: 16px;
    width: 480px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.footer{
    /*background-color: midnightblue;*/
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    text-align: center;
    padding: 2em;
}